{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Navan's Flask Home Page!!!</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/tombrady.jpg') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">My Favotite  <mark>Tom Brady</mark>?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Brady spent two years as a backup at the University of Michigan. </li>
                            <li>He was famously taken with the 199th overall pick in the 2000 NFL Draft.</li>
                            <li>He has played in more Super Bowls than any other player in NFL history.</li>
                            <li>He's won more Super Bowls than any other player — or any single NFL franchise.</li>
                            
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Home</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/javascript.jpg') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Interesting Facts about <mark>Java Script!!!</mark></h5>
                    <p class="card-text">
                        <ol>
                            <li>Programming Language Of The Web</li>
                            <li>Starts with a Semicolon!</li>
                            <li>Sum of String and Numbers</li>
                            <li>Function Can Execute Themselves</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Home</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpg') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Cool Things about  <mark>Python!!!</mark> </h5>
                    <p class="card-text">
                        <ol>
                            <li>Python has overtaken French in primary schools</li>
                            <li>Python does not require a compiler</li>
                            <li>Python is one of Google’s official programming languages</li>
                            <li>Python is primary programming language in Data Science</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Home</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}